@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

html {
    overflow-x: hidden;
}

.tran {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.tran5 {
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

body {
    width: 100%;
    height: 100%;
    color: #231F20;
    font-size: 16px;
    position: relative;
    font-family: "Work Sans", sans-serif;
    margin: 0;
    background-color: #fff;
    @include mw-768 {
        overflow-x: hidden;
        padding: 2rem 0;
    }
}

.container {
    @include mww-1920 {
        max-width: 1400px;
    }
    @include mw-1920 {
        max-width: 1400px;
    }
}
 