$main: #b6564f;
$text1: #231f20;
$text2: #696969;
$text3: #676767;
$white: #fff;
$border: #b6564f;
$border-2: #bd9191;
$bg: #b6564f;
$bg-1: #F5F7F9;
$blue: #b6564f;
$violet: #b6564f;
$white: #fff;
.text-2 {
  color: $text2;
}
