// button
.btn {
  display: inline-block;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: none;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  color: $white;

  &--hero-2 {
    width: 260px;
    height: 60px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 700;
    position: relative;
    background: rgb(77, 20, 199);
    background: linear-gradient(90deg, #b6564f 0%, #b6564f 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      box-shadow: 0px 0px 20px rgba(228, 64, 64, 0.4);
      color: $white;
    }
  }
}

button {
  &:focus {
    outline: none;
    box-shadow: none !important;
  }
}
.gr-btn {
  display: flex;
  justify-content: center;
}
