/* 1.3. TEXT GRAPH FONT SIZE */

//10,11,12,13,14,15,16,18,20,21,24,32,42
@for $i from 10 through 50 {
  .fs-#{$i} {
    font-size: #{$i}px;
  }
}

/* #1.3. TEXT GRAPH FONT SIZE */

.desktop {
  @include mw-768 {
    display: none !important;
  }
}

.mobile {
  display: none;
  @include mw-768 {
    display: block;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}

p {
  line-height: 1.5;
  @include mw-768 {
    font-size: 16px;
  }
}

.center-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.center {
  display: flex;
  align-items: center;
}

.space_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.height-100 {
  height: 100%;
}
.section-title {
  margin-top: 50px;
  margin-bottom: 100px;
}
.title-section {
  font-size: 35px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  // margin-bottom: 3rem;
  position: relative;
  @include mw-768 {
    font-size: 24px;
    // margin-bottom: 3rem;
  }
}
.content-section {
  font-size: 16px;
  text-align: center;
  color: $text1;
  font-weight: 300;
  color: $text2;
  @include mw-768 {
    font-size: 16px;
  }
}
.content-p {
  font-size: 18px;
  color: $text1;
  font-weight: 300;
  @include mw-768 {
    font-size: 16px;
  }
}
.border {
  border: solid 1px $border;
}
.border-t {
  border-top: solid 1px $border;
}
.img {
  width: 100%;
  img {
    width: 100%;
  }
}
.page-banner {
  margin: 50px 0;
  img {
    width: 100%;
  }
}
.title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 16px;
}
.bg {
  background-color: $bg-1;
  padding: 50px 0;
}
.block-separator {
  background: linear-gradient(
    to left,
    currentColor calc(50% - 16px),
    transparent calc(50% - 16px),
    transparent calc(50% + 16px),
    currentColor calc(50% + 16px)
  );
  background-color: transparent !important;
  border: none;
  height: 0.1rem;
  overflow: visible;
  position: relative;
  color: #cccccc;
  height: 1px;
  width: 100%;
  position: relative;
  margin: 50px 0;
  &::before {
    left: calc(50% - 0.5rem);
    position: absolute;
    background: $main;
    content: "";
    display: block;
    height: 25px;
    position: absolute;
    top: calc(50% - 0.8rem);
    transform: rotate(22.5deg);
    width: 1px;
  }
  &::after {
    right: calc(50% - 0.5rem);
    position: absolute;
    background: $main;
    content: "";
    display: block;
    height: 25px;
    position: absolute;
    top: calc(50% - 0.8rem);
    transform: rotate(22.5deg);
    width: 1px;
  }
}
.hover-img {
  figure {
    position: relative;
    overflow: hidden;
    margin: 0;
    &::before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
    }
    &:hover {
      &::before {
        -webkit-animation: shine 0.75s;
        animation: shine 0.75s;
      }
    }
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
