.fields {
  &-banner {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    img {
      width: 100%;
    }
    .content {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 16px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
      p {
        color: $white;
        margin: 0;
      }
    }
  }
  &-item {
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    border-radius: 5px;

    img {
      width: 100%;
    }
    .content {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 16px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
      p {
        color: $white;
        margin: 0;
        font-weight: 600;
        font-size: 20px;
      }
    }
  }
  &-title {
    color: $main;
    font-size: 28px;
    font-weight: 700;
  }
  &-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
