.headerDesktop {
  // position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: $bg;
  padding: 1rem 0;
  @include mw-920 {
    display: none;
  }
  .space-between {
    display: flex;
    justify-content: space-between;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .menu-logo {
    padding: 1rem;
    margin-right: 2rem;
    width: 200px;
    display: block;
    img {
      width: 100%;
    }
  }
  .menu {
    a {
      display: block;
      color: $white;
      padding: 0.5rem 1rem;
      position: relative;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        text-decoration: none;
        color: $white;
      }
    }

    .active {
      color: $white;
      background: linear-gradient(90deg, rgba(77, 20, 199, 1) 0%, rgba(197, 103, 254, 1) 100%);

      border-radius: 100px;
      &::before {
        display: block;
      }
    }
  }
}
.lang {
  display: block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}
.lang-active {
  opacity: 1;
}

.gg-format-right,
.gg-format-right::before {
  display: block;
  box-sizing: border-box;
  height: 2px;
  background: currentColor;
  border-radius: 3px;
  box-shadow: 0 12px 0;
}
.gg-format-right {
  margin-top: -11px;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 26px;
}
.gg-format-right::before {
  content: "";
  position: absolute;
  width: 20px;
  top: 6px;
  left: 6px;
}
.headerMobile {
  padding: 1rem;
  background-color: $bg;
  border-bottom: solid 1px $border;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: none;
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // background-color: aliceblue;
    &-logo {
      img {
        width: 200px;
      }
    }
    &-right {
      display: flex;
      align-items: center;
    }
    .btn--menu {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: $white;
      }
    }
  }
  .menu-bottom {
    max-height: 0;
    overflow: hidden;
    text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition-duration: 0.5s;
    transition-property: max-height;
    z-index: 1;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    @extend .tran;
    li {
      margin-top: 0.75rem;
      cursor: pointer;
    }
    .menu-item {
      font-weight: 500;
      font-size: 18px;
      font-weight: 300;
    }
  }
  .active {
    // display: block;
    max-height: 100rem;
    transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition-duration: 0.5s;
    transition-property: max-height;
  }
  @include mw-920 {
    display: block;
  }
}
.footer {
  background-color: $main;
  color: $white;

  &-bottom {
    background: rgba(0, 0, 0, 0.2);
    padding: 50px 0;
    a {
      color: $white;
      opacity: 0.7;
      @extend .tran;
      &:hover{
        opacity: 1;
      }
    }
  }
}
.office {
  display: flex;
  margin-top: 60px;
  color: $white;
  p {
    white-space: pre-line;
  }
}
