.hero {
  position: relative;
  // background-color: #000;
  margin-top: 30px;
  &--list {
    .slick-arrow {
      // display: none !important;
      font-family: "fontAwesome";
      height: 90px;
      width: 50px;
      font-size: 16px;
      z-index: 100;
      border-radius: 5px;
      background: #b6564f3e;
      &::before {
        position: absolute;
        left: 30%;
        top: 40%;
      }
    }
    .slick-prev {
      left: 274px;
      &::before {
        content: "\F053";
      }
      @include mw-1500 {
        left: 78px;
      }
    }
    .slick-next {
      right: 274px;
      &::before {
        content: "\F054";
      }
      @include mw-1500 {
        right: 78px;
      }
    }
    .slick-dots {
      bottom: 25px;
    }
    height: 560px;
  }
  &--content {
    position: absolute;
    color: $white;
    text-align: center;
    width: 100%;
    top: 40%;
    .container {
      width: 100%;
      max-width: 900px;
    }
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 18px;
      font-weight: 400;
    }
  }
  &--item {
    height: 100%;
    width: 100%;
    max-width: 1400px;
    padding: 0 50px;
    img {
      border-radius: 20px;
      overflow: hidden;
      height: 100%;
      width: 100%;
      object-fit: cover;
      background-color: $bg;
    }
  }
  .slick-track {
    height: 560px;
    div {
      height: 100%;
    }
  }
  .slick-slide {
    width: 100%;
    opacity: 0.5;
  }
  .slick-active {
    opacity: 1;
    @extend .tran;
  }
}

#ecosystem {
  padding: 50px 0;
  color: $text1;
}
.ecosystem {
  &__content {
    // border: solid 1px $border;
    background-color: #f5f7f9;
    border-radius: 20px;
    padding: 30px;
    padding-left: 50px;
    overflow: hidden;
    @include mw-920 {
      padding-left: 15px;
    }
  }
  &__title--sm {
    font-size: 16px;
    color: $border-2;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.31em;
  }
  &__title {
    font-size: 30px;
    margin: 2rem 0;
    font-weight: 700;
    color: $main;
    @include mw-920 {
      font-size: 24px;
      margin: 1rem 0;
    }
    &_1 {
      margin: 2rem 0;
      font-weight: 700;
      font-size: 45px;
      background: linear-gradient(264.51deg, #4e15c8 4.38%, #bd77f4 11.51%, #9128e0 25.06%, #bd77f4 36.04%);
      background-size: 500%;
      background-position: 100% 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__ul {
    color: $text3;
    padding: 0;
    font-size: 18px;
    @include mw-920 {
      font-size: 16px;
    }
    li {
      margin-bottom: 10px;
    }
  }

  &--item {
    position: relative;
    padding-left: 50px;
    padding-bottom: 100px;
    margin-bottom: 34px;
    @include mw-920 {
      padding-left: 30px;
      padding-bottom: 50px;
    }
    &::before {
      content: "";
      width: 1px;
      border-left: 1px solid $border-2;
      height: 100%;
      position: absolute;
      left: 5px;
      top: 20px;
    }
    &::after {
      content: "";
      width: 12px;
      height: 12px;
      border: 1px solid $border-2;
      border-radius: 10px;
      position: absolute;
      left: 0px;
      top: 2px;
    }
    &:hover {
      &::after {
        background-color: $blue;
        @extend .tran;
      }
    }
  }

  .bg-blur {
    position: relative;
    &::before {
      content: "";
      width: 900px;
      height: 900px;
      right: -208px;
      bottom: -878px;
      position: absolute;
      background: rgba(30, 54, 116, 0.9);
      border-radius: 1000px;
      filter: blur(200px);
      mix-blend-mode: lighten;
      opacity: 0.44;
      z-index: -1;
    }
  }

  .content-p {
    color: $text3;
    font-weight: 600;
  }
}
.multiple-items {
  .slick-track {
    padding: 30px 0;
  }
  .slick-slide {
    margin: 15px;
  }
  .slick-arrow {
    // display: none !important;
    font-family: "fontAwesome";
    height: 40px;
    width: 30px;
    font-size: 16px;
    z-index: 100;
    border-radius: 3px;
    background: #ffdbd5;
    &::before {
      position: absolute;
      left: 32%;
      top: 34%;
      font-size: 14px;
    }
  }
  .slick-prev {
    left: -40px;
    &::before {
      content: "\F053";
    }
  }
  .slick-next {
    right: -40px;
    &::before {
      content: "\F054";
    }
  }
  .slick-dots {
    bottom: 25px;
  }
}
.blog {
  padding: 70px 0;
  background: url(/images/bg-vector-w-min.png) no-repeat bottom left;
  background-size: 100%;
  .item-post {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 7px;
    background-color: #ffffff;
    &-img {
      display: block;
      max-height: 200px;
      overflow: hidden;
      margin-left: -20px;
      margin-right: -20px;
      margin-top: -20px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      img {
        width: 100%;
      }
    }
    a {
      text-decoration: none;
      color: $main;
    }
    p {
      color: $text3;
      margin-top: 20px;
      margin-bottom: 0;
      font-size: 14px;
    }
    h3 {
      font-size: 16px;
      font-weight: 600;
      padding: 10px 0;
      margin-bottom: 0;
      a {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
        color: $text1;
      }
    }
    &:hover {
      h3 {
        a {
          color: $main;
          @extend .tran;
        }
      }
    }
  }
}
.partner {
  padding: 100px 0;
  &-item {
    height: 100px;
    background-color: #fff;
    text-align: center;
    border: solid 1px rgb(237, 237, 237);
    overflow: hidden;
  }
}
.error-page {
  height: 60vh;
  margin-top: 100px;
  border-bottom: solid 1px $border;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .btn {
    margin-top: 100px;
  }
}
.photo {
  &-inner {
    height: 600px;
  }
  &-item {
    .row {
      margin: 0;
      > * {
        padding: 0;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.h-100 {
  height: 100%;
}
.h-50 {
  height: 50%;
}
.news {
  &-item {
    display: flex;
    margin-bottom: 30px;
    &:hover {
      h5 {
        a {
          color: $main;
        }
      }
    }
  }
  &-img {
    width: 325px;
    height: 180px;
    overflow: hidden;
    border-radius: 10px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &-content {
    margin-left: 30px;
    width: calc(100% - 325px);
    a {
      color: $main;
    }
    h5 {
      a {
        color: $text1;
      }
    }
  }
}
.category {
  background-color: $bg-1;
  list-style: none;
  padding: 24px;
  border-radius: 10px;
  margin-bottom: 24px;
  li {
    &:first-child {
      font-size: 20px;
      font-weight: 700;
    }
    margin-bottom: 10px;
    a {
      color: $text1;
      &:hover {
        color: $main;
      }
    }
  }
}
.relate {
  background-color: $white;
  list-style: none;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 24px;
  border-radius: 10px;
  margin-bottom: 24px;
  li {
    &:first-child {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 24px;
    }
    margin-bottom: 10px;
    a {
      color: $text1;
    }
  }
  &-item {
    display: flex;
    &:hover {
      color: $main;
    }
    img {
      width: 86px;
      height: 60px;
      border-radius: 5px;
    }
    &-content {
      padding-left: 10px;
      p {
        font-size: 12px;
        margin-bottom: 0;
      }
    }
  }
  .social {
    &-item {
      padding: 10px;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      svg {
        * {
          fill: #696969;
        }
      }
      &:hover {
        background-color: $main;
        @extend .tran;
        svg {
          * {
            fill: $white;
          }
        }
      }
    }
  }
}
.contact {
  padding: 50px 0;
  text-align: center;
  h4 {
    text-align: center;
    font-weight: 600;
  }
}
.address {
  padding: 70px 0 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  position: relative;
  .linner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }
  .office {
    position: relative;
    z-index: 1;
  }
}
.form {
  background-color: $bg-1;
  padding: 50px 10%;
  margin: 100px auto;
  max-width: 80%;
  border-radius: 20px;
  h4 {
    font-weight: 600;
    text-align: center;
  }
  form {
    padding: 10%;
  }
  .form-control {
    border-radius: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid $text3;
    padding: 0.3125rem 1.25rem;
    height: 3.5rem;
    margin-bottom: 30px;
    &:hover,
    &:focus,
    &.active {
      box-shadow: none;
      background: $white;
    }
    &:focus {
      border-color: $main;
      border-width: 2px;
    }
  }
  .default-select {
    position: relative;
    &::before {
      content: url(/images/Polygon.png);
      position: absolute;
      width: 20px;
      height: 20px;
      right: 0;
      top: 20px;
      z-index: 10;
    }
  }
}

.about {
  background-color: $bg-1;
  margin-top: 50px;
  padding: 50px 0;
  .content {
    padding-top: 24px;
    position: relative;
    height: 100%;
    &::after {
      content: url(/images/bg-about.svg);
      position: absolute;

      right: 0;
      bottom: 20px;
      z-index: 10;
    }
  }
  h1 {
    font-weight: 700;
    font-size: 30px;
  }
  .des {
    font-size: 16px;
    color: $text2;
  }
}
