<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <img src="../images/logo-full.png" alt="">

        <p class="mt-3">
          Almond theo đuổi nghệ thuật làm đẹp và đánh giá cao những giá trị mà nó đem lại.
        </p>
        <div class="d-flex">
          <a href="" class="me-2">
            <img src="../images/social/fb.png" alt="">
          </a>
          <a href="" class="me-2">
            <img src="../images/social/ig.png" alt="">
          </a>
          <a href="" class="me-2">
            <img src="../images/social/tw.png" alt="">
          </a>
          <a href="" class="me-2">
            <img src="../images/social/p.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="text-uppercase fw-bolder mb-3">Lĩnh vực hoạt động</h5>
        <div>
          <a href="">Chương trình định cư </a>
        </div>
        <div>
          <a href=""> Nhượng quyền</a>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="text-uppercase fw-bolder mb-3">Company</h5>
        <div>
          <a href="">Về chúng tôi </a>
        </div>
        <div>
          <a href=""> Tin tức</a>
        </div>
        <div>
          <a href=""> Thư viện ảnh</a>
        </div>
        <div>
          <a href=""> Liên hệ</a>
        </div>
      </div>

    </div>

  </div>