<div class="footer-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="office">
          <span>
            <img src="../images/location.svg" alt="">
          </span>
          <div class="ms-4">
            <h5 class="text-uppercase fw-bolder mb-3">Canada head office:</h5>
            <p>1-1190 Taylor road, Winnipeg, Mb r3m-3z4, Canada

              1-833-408-2100
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="office">
          <span>
            <img src="../images/location.svg" alt="">
          </span>
          <div class="ms-4">
            <h5 class="text-uppercase fw-bolder mb-3">Vietnam head office:</h5>
            <p>4th floor, yoco building.
              41 Nguyen Thi Minh Khai, Ben Nghe ward, District 1 Ho Chi Minh city, Vietnam

              +84-855 49 8182
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>